@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 400;
   src: url('/fonts/NotoSansTC-Regular.woff2');
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 500;
   src: url('/fonts/NotoSansTC-Medium.woff2');
}
@font-face {
   font-family: 'Noto Sans TC';
   font-style: normal;
   font-weight: 700;
   src: url('/fonts/NotoSansTC-Bold.woff2');
}